body {
    font-family: 'Source Code Pro', monospace;
  }
  
  .container {
    display: grid;
    /* grid-template-columns: 25% 200px 25%;
    grid-template-rows: 300px 150px; */
    /* grid-template: filas / columnas */
    grid-template: 300px 100px 100px / 50% 200px 100%;
  }
  .item {
    background: greenyellow;
    padding: 10px;
    border: 1px solid coral;
  }
  