body {
  font-family: 'Source Code Pro', monospace;
}

.container {
  display: grid;
  grid-template-columns: 25% 200px 25%;
}
.item{
    background: greenyellow;
    padding: 10px;
    border: 1px solid  coral;
}
